@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
    background: #181926;
    background: -moz-radial-gradient(center, ellipse cover, #181926 0%, #0e0f17 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #181926 0%,#0e0f17 100%);
    background: radial-gradient(ellipse at center, #181926 0%,#0e0f17 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181926', endColorstr='#0e0f17',GradientType=1 );
}
.wrapper { margin-top: 100px ; }
      h1 { text-align: center; }
      
      
       h6{
        color: #ffff;
        padding: 10px;
      }
      h2{
        color: #ffff;
        font-weight: bolder;
      }

.srch{
    border: none;
    outline: none;
   width: 45px;
   background-color: #fff;
}
.navbar{
    padding: 17px;
    z-index: 10000;
    background-color: #181926;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-link{
    font-weight: bolder;
    font-size: 17px;
    
}
.nav-link:hover{
    color: #fff;
}
.card{
    background-color: #505377;
}
.sup{
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;

    width: 50px;
  height: 50px;
    border-radius: 50px;
    font-size: 35px;
    align-items: center;
    text-align: center;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
 

.card{
    background-color: #181926;
}
a .card{
    border-color: #ffffffa8;
}
a .card:hover{
    background-color: #1f2030;
    border: 0px;
}
.site-footer
{

  background-color:#181926;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}